@import'./General.scss';



.header__figure {
  @extend %shadow;
  padding: 0;
  background-color: $color-background;
  border-radius: 1em 1em 1em 1em;
  //   margin: 0;
}
.header__figure--logo {
  margin: 0;
  max-height: $header-height;
  filter: invert(75%);
}

.header__title {
  font-weight: lighter;
  font-size: 3em;
  margin: 0;
}

.header__menu {
  margin: 4em;
  cursor: pointer;
}

.header__menu--usricon {
  max-width: 3em;
  margin-right: 8px;
}

.header__menu ul {
  @extend %style-ulmenu;
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: right;
  margin: 0 0 0 -9vw;
}

.header__menu:hover ul,
ul:hover {
  @extend %style-ulmenu;
  display: block;
}

.header__menu li {
  margin: 1em;
  align-items: flex-start;
  
}
.header__menu li a {
  color: white;
  // color: $color-black;
  text-decoration: none;
  font-size: 2em;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.container {
  @extend %shadow;
  @extend %container-pattern;
  background-color: $color-white;
  border-radius: 1em 1em 1em 1em;
  // padding: 1em;
  // margin: 0.5em;
  max-width: auto;
  max-height: auto;
}

.dashboardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 2fr 1fr;
  margin: 0;
  padding: 0;
  max-height: auto;
}

.title {
  @extend %flex-center;
  grid-column: 1/3;
}

.actionpanel {
  @extend %flex-center;
}
.actionpanel__title {
  font-size: 2em;
}

.actionpanel button {
  @extend %button;
  display: flex;
  min-width: 40vw;
  justify-content: space-around;
}

.actionpanel button:hover {
  color: $color-white;
  background-color: $color-green;
  cursor: pointer;
}

.indicators {
  @extend %flex-center;
}

.dayTip {
  @extend %flex-start;
  grid-row: 2/4;
  grid-column: 2;
}

.dayTip__title {
  margin: 0 0 1em 0;
  color: $color-green;
}
.dayTip__algaeinfo--figure {
  margin: 0;
}
.dayTip__algaeinfo--figure img {
  border-radius: 1em;
  max-width: 100%;
  max-height: auto;
}
.dayTip__algaeinfo--subtitle {
  color: $color-green;
  font-style: italic;
  font-weight: normal;
}
