$color-green: #56A48D;
$color-black: #51576C;
$color-background: #F4F8F7;
$color-white: #FFFFFF;

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

$padding-horizontal: 0;
$padding-vertical: 3em;
.aside{
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    padding-left: $padding-horizontal;
    padding-right: $padding-horizontal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
    width: 80vw;
    background: linear-gradient(90deg,#2f8f73 0%, $color-green 100%);
    color: $color-white;
}

.aside__welcomemsg{
    font-weight: bold;
    font-size: 2.3em;
}

.aside__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.aside__logo--img{
    width: 9em;
}

.aside__logo--title{
    font-weight: lighter;
    font-size: 2em;
    justify-content: stretch;
    margin: 0em;
}

.aside__logo--slogan{
    font-weight: lighter;
    font-style: italic;
    font-size: 1.3em;;
}

.aside__buttons{
    display: flex;
    min-width: 40vw;
    justify-content: space-around;
}

.aside__buttons button{
    margin:5px;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    outline: none;
    background-color: $color-background;
    color: $color-green;
    font-weight: bold;
}
.aside__buttons--moreInfo, .aside__buttons--register{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.login{
    padding-top: $padding-vertical;
    margin-top: 6em;
    display: flex;
    width: 120vw;
    color: $color-black;
    flex-direction: column;
    align-items: center;
}

.login__logoSabana{
    width: 10em;
}

.login__container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.login__container--title{
    color: $color-green;
    font-weight: bold;
    font-size: 3em;
}

.login__container--text{
    color:$color-black;
}
.login__container--form{
    display: flex;
    flex-direction: column;
    width: 30em;
}

.login__container--form input{
    margin:5px;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    outline: none;
    background-color: $color-background;
}
::placeholder{
    color: $color-black;
}
.login__container--form a{
    color: $color-black;
    font-size: 14px;
    text-decoration: none;
}


.login__container--form a:hover{
    color: $color-green;
}

.login__container--form button{
    margin:5px;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    outline: none;
    font-weight: bold;
    background-color: $color-green;
    color: white;
}