@import './General.scss';

$header-height: 100px;
header {
  @extend %shadow;
  @extend %header-pattern;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  height: $header-height;
}
.header__figure {
  @extend %shadow;
  padding: 0;
  background-color: $color-background;
  border-radius: 1em 1em 1em 1em;
}
.header__figure--logo {
  margin: 0;
  max-height: $header-height;
  filter: invert(75%);
}
.header__title {
  font-weight: lighter;
  font-size: 3em;
  margin: 0;
}
.header__menu {
  margin: 4em;
  cursor: pointer;
}
.header__menu--usricon {
  max-width: 3em;
  margin-right: 8px;
}
.header__menu ul {
  @extend %style-ulmenu;
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: right;
  margin: 0 0 0 -9vw;
}
.header__menu:hover ul,
#header__menu:hover {
  @extend %style-ulmenu;
  display: block;
}
.header__menu li {
  margin: 1em;
  align-items: flex-start;
}
.header__menu li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}
.header__menu li a:hover {
  text-decoration: underline;
}

.newExpContainer {
  @extend %containerBase;
}

//   Tomado de: https://codepen.io/wilder_taype/pen/pNXwMW/?editors=1100

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: $color-green;
}

.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: $color-green;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

.reactorNum {
  // padding-bottom: 1em;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.reactornum__options {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form__container {
  @extend %containerBase;
  color: $color-green;
  font-weight: bold;
}

.form__container > label {
  display: flex;
  flex-direction: column;
}

.form__container > label > input {
  padding: 20px;
  border-radius: 1em;
  margin-top: 1em;
}

.reactorNum {
  grid-row: 1/4;
  grid-column: 1;
}
.inputForm > button {
  @extend %button;
  grid-row: 10;
  grid-column: 1/5;
}
